sbac-iaip/java/src/main/resources/xsd/ims/apip/apip_sbac_metadata.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="metadata">
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded" minOccurs="0">
		<xs:choice>
        <xs:element type="xs:string" name="SB_TechnologyEnhanced" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SB_TechnologyEnabled" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SB_Target-SpecificAttributes" minOccurs="0" maxOccurs="1"/>
		<!--  <xs:element type="xs:string" name="SB_Target-specificAttributes" minOccurs="0" maxOccurs="1"/> -->   
		<xs:element type="xs:string" name="SB_Item-TaskNotes" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SB_StimulusType" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SB_StimulusID" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SB_MaximumPoints" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SB_MaximumGrade" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SB_Acknowledgements" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SB_LinkToScoringTable" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SB_LinkToItemStats" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SB_LinkToItemAssets" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SB_ItemID" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SB_AI-Scored" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SB_HumanScored" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SB_EnemyItem" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SB_ContentTargetLink" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SB_Braille" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SB_App" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SB_AllowCalculator" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SB_PTWritingType" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SB_PassageLength" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SB_Stimulus-Passages" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SB_MinimumGrade" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SB_Notes" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SB_SuffEvdncOfClaim" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SB_Target-specificAttributes" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SB_Stimulus-Source" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SB_Key" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SB_MaxPoints" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SB_Difficulty" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SB_ScorePoints" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SB_DOK" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SB_Brief_Write_or_Revision" minOccurs="0" maxOccurs="1"/>        
        <xs:element type="xs:string" name="SB_MathematicalPractices" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SB_Standards" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SB_AssessmentTargets" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SB_SecondaryContentDomains" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SB_PrimaryContentDomain" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SB_SecondaryClaims" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SB_PrimaryClaim" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SB_Claim2_Category" minOccurs="0" maxOccurs="1"/>        
        <xs:element type="xs:string" name="SB_SampleItemID" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SYSTEM_ItemID" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SYSTEM_ItemType" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SYSTEM_ItemVersion" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SYSTEM_Subject" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SYSTEM_ItemSubcategory" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SYSTEM_Grade" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SYSTEM_Workflow" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SYSTEM_Status" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SYSTEM_ItemKeywords" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:dateTime" name="SYSTEM_DateCreated" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:dateTime" name="SYSTEM_LastApprovedDate" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SYSTEM_LinkedPassageID" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SYSTEM_PerformanceTaskID" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SYSTEM_Author" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SYSTEM_Source" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SYSTEM_Copyright" minOccurs="0" maxOccurs="1"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>