sbac-iaip-rpm-installer/sbac-iaip/java/src/main/java/com/pacificmetrics/orca/loader/saaif/SAAIF-Item-Metadata.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.smarterapp.org/ns/1/assessment_item_metadata" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="metadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="smarterAppMetadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:short" name="Identifier"/>
              <xs:element type="xs:string" name="InteractionType"/>
              <xs:element type="xs:byte" name="Version"/>
              <xs:element type="xs:string" name="Subject"/>
              <xs:element type="xs:string" name="Language" maxOccurs="unbounded" minOccurs="0"/>
              <xs:element type="xs:string" name="SecurityStatus"/>
              <xs:element type="xs:byte" name="MinimumGrade"/>
              <xs:element type="xs:byte" name="IntendedGrade"/>
              <xs:element type="xs:byte" name="MaximumGrade"/>
              <xs:element type="xs:string" name="BrailleType"/>
              <xs:element type="xs:string" name="AllowCalculator"/>
              <xs:element type="xs:byte" name="MathematicalPractice"/>
              <xs:element type="xs:short" name="AssociatedTutorial"/>
              <xs:element type="xs:short" name="AssociatedWordlist"/>
              <xs:element type="xs:string" name="SecondaryStandard"/>
              <xs:element type="xs:byte" name="MaximumNumberOfPoints"/>
              <xs:element type="xs:string" name="ScorePoints"/>
              <xs:element type="xs:string" name="ItemSpecFormat"/>
              <xs:element type="xs:string" name="StimulusFormat"/>
              <xs:element type="xs:string" name="EducationalDifficulty"/>
              <xs:element type="xs:byte" name="DepthOfKnowledge"/>
              <xs:element type="xs:string" name="AdministrationDate"/>
              <xs:element name="IrtDimension" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="IrtDimensionPurpose"/>
                    <xs:element type="xs:string" name="IrtModelType"/>
                    <xs:element type="xs:byte" name="IrtScore"/>
                    <xs:element type="xs:float" name="IrtWeight"/>
                    <xs:element type="xs:float" name="IrtParam0"/>
                    <xs:element type="xs:float" name="IrtParam1"/>
                    <xs:element type="xs:float" name="IrtParam2"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>